@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Dashboard Home Container */
.dashboardHome{
    flex-grow: 1;
    min-height: 100dvh;

    background-color: #111827;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


/* Dashboard Intro */
.dash-intro{
    width: 100%;
    padding: 2rem;

    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.dash-intro h1{
    font-size: 3rem;
    color: white;
    font-weight: bolder;
}

.dash-intro p{
    font-size: 1rem;
    color: #9ca3af;
}


/* Dashboard Stats Container */
.dash-sum-stats{
    width: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
/* Responsive */
@media screen and (max-width: 620px) {
    .dash-sum-stats{
        flex-direction: column;
    }
}


/* Dasboard Individual Stats */
.dash-individual-stats{
    padding: 2rem;
    width: 100%;
    min-height: 32rem;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Inventory Stats */
.inventory-stats{
    width: 49%;
    height: 100%;
    padding: 1rem;
    /* flex-grow: 1; */
    background-color: #1f2937;
    border-radius: 10px;
    border: 1px solid #374151;
}

.inventory-stats h2{
    color: white;
}


/* Recent Activities */
.recent-activities{
    width: 49%;
    height: 100%;
    padding: 1rem;
    /* flex-grow: 1; */
    background-color: #1f2937;
    border-radius: 10px;
    border: 1px solid #374151;
}

.recent-activities h2{
    color: white;
}


/* Activities */
.activities{
    width: 100%;
    height: 100%;
    padding: 1.2rem;

    overflow: scroll;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}