

/* Dasboard Container */
.dashboardContainer{
    width: 100%;
    display: flex;
}
/* Responsive */
@media screen and (max-width: 1000px) {
    .dashboardContainer{
        flex-direction: column-reverse;
    }
}