@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');


/* Item box container */
.item-box-container{
    /* width: 15rem;
    min-height: 15rem; */
    padding: 1rem;

    background-color: #1f2937b7;
    border: 1px solid #374151;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}
.item-box-container:hover{
    background-color: #1f2937;
}


/* Item box header */
.item-box-header{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-box-icon{
    width: 40px;
    height: 40px;
    padding: 1rem;

    background-color: #2563eb;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;

    font-size: 1.2rem;
    color: white;

    display: grid;
    place-content: center;
}

.item-box-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.item-box-buttons button{
    width: 40px;
    height: 40x;
    padding: 0.5rem;

    display: grid;
    place-items: center;

    border: none;
    background-color: transparent;
    outline: none;

    color: white;
    font-size: 1.2rem;
}

.item-box-buttons .btn-1:hover{
    color: greenyellow;
}
.item-box-buttons .btn-2:hover{
    color: red;
}



/* Item box body */
.item-box-body{
    margin-top: 20px;
    width: 100%;
    flex: 1;

    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.item-box-body h2{
    font-size: 1.2rem;
}

.item-box-body p{
    font-size: 1rem;
    font-weight: 500;
    color: hsl(215, 20%, 65%);
}

.item-box-main-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.item-box-main-body h2{
    color: white;
}