@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Card */
.card-container{
    width: 400px;
    height: 250px;
    padding: 1rem;

    background-color: #1f2937;
    border: 1px solid #4B5563;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
/* Responsive */
@media screen and (max-width: 1300px) {
    .card-container{
        width: 350px;
        height: 200px;
    }
    
}

@media screen and (max-width: 800px) {
    .card-container{
        width: 300px;
        height: 150px;
    }
    
}

@media screen and (max-width: 690px) {
    .card-container{
        width: 400px;
        height: 250px;
    }
    
}

@media screen and (max-width: 470px) {
    .card-container{
        width: 280px;
            height: 150px;
    }
    
}


/* Card icon */
.card-icon{
    font-size: 2rem;
    color: #2563eb;
}
/* Responsive */
@media screen and (max-width: 800px) {
    .card-icon{
        font-size: 1rem;
    }
}

@media screen and (max-width: 690px) {
    .card-icon{
        font-size: 2rem;
    }
}

@media screen and (max-width: 470px) {
    .card-icon {
        font-size: 1rem;
    }
}


/* Card Title */
.card-title{
    font-size: 1.2rem;
    color: white;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
/* Responsive */
@media screen and (max-width: 1300px) {
    .card-title{
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .card-title{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 690px) {
    .card-title {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 470px) {
    .card-title {
        font-size: 0.8rem;
    }
}


/* Card Content */
.card-content{
    font-size: 1rem;
    color: #d1d5db;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
/* Responsive */
@media screen and (max-width: 1300px) {
    .card-content{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 800px) {
    .card-content{
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 690px) {
    .card-content{
        font-size: 1rem;
    }
}
@media screen and (max-width: 470px) {
    .card-content {
        font-size: 0.6rem;
    }
}