@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


/* Inventory Home container */
.inventory-home{
    width: 85%;
    min-height: 100dvh;

    background-color: #111827;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/* Responsive */
@media screen and (max-width: 1300px) {
    .inventory-home{
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .inventory-home{
        width: 100%;
    }
}


/* Inventory Bottom Section */
.inventory-bottom-section{
    padding: 10px;
    width: 100%;
    min-height: 10rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-content: center;
    place-items: center;
    gap: 1rem;
}
/* Responsive */
/* @media screen and (max-width: 435px) {
    .inventory-bottom-section{
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }
} */