@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


/* Inventory Home container */
.inventory-home{
    width: 85%;
    min-height: 100dvh;

    background-color: #111827;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/* Responsive */
@media screen and (max-width: 1300px) {
    .inventory-home{
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .inventory-home{
        width: 100%;
    }
}


/* Inventory Top Section */
.inventory-top-section{
    width: 100%;
    min-height: 5rem;
    padding: 2rem;

    /* background-color: aqua; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inventory-intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.inventory-intro h1{
    color: white;
    font-size: 3rem;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

.inventory-intro p{
    color: #9ca3af;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@media screen and (max-width: 700px) {
    .inventory-intro h1{
        font-size: 2rem;
    }

    .inventory-intro p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 580px) {
    .inventory-intro h1{
        font-size: 1.5rem;
    }

    .inventory-intro p{
        font-size: 0.8rem;
        width: 80%;
    }
}

@media screen and (max-width: 440px) {
    .inventory-intro h1{
        font-size: 1.5rem;
    }

    .inventory-intro p{
        font-size: 0.7rem;
    }
}


/* Inventory Button */
.inventory-btn{
    width: 160px;
    height: 40px;

    background-color: #2563eb;
    outline: none;
    border: none;
    border-radius: 5px;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.inventory-btn:hover{
    background-color: #1d4ed8;
}

.inventory-btn p{
    /* color: #9ca3af; */
    /* font-size: 1.2rem; */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@media screen and (max-width: 700px) {
    .inventory-btn{
        width: 60px;
        height: 60px;

        font-size: 2rem;
        font-weight: bolder;
    }

    .inventory-btn p{
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .inventory-btn{
        width: 40px;
        height: 40px;

        font-size: 1.5rem;
        font-weight: bolder;
    }

    .inventory-btn p{
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .inventory-btn{
        width: 30px;
        height: 30px;

        font-size: 1.2rem;
        font-weight: bolder;
    }

    .inventory-btn p{
        display: none;
    }
}


/* Inventory Bottom Section */
.inventory-bottom-section{
    min-height: 32rem;
    width: 100%;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}
@media screen and (max-width: 1700px) {
    .inventory-bottom-section{
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr))
    }
}

@media screen and (max-width: 1035px) {
    .inventory-bottom-section{
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr))
    }
}

@media screen and (max-width: 560px) {
    .inventory-bottom-section{
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr))
    }
}

@media screen and (max-width: 439px) {
    .inventory-bottom-section{
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr))
    }
}