@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');



/* Invitory box home container */
.invi-box-container{
    width: 100%;
    min-height: 100dvh;
    padding: 2rem;

    background-color: #111827;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


/* Invitory box navbar */
.invi-box-navbar{
    width: 100%;

    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.invi-box-nav-intro{
    display: flex;
    gap: 0.5rem;
}

.invi-box-navbar a{
    padding: 0.8rem;
    text-decoration: none;
    color: #9ca3af;

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    transition: ease-in-out 200ms;
}
.invi-box-navbar a:hover{
    background-color: #374151;
    border-color: #374151;
    color: white;

    transition: ease-in-out 200ms;
}

.invi-box-navbar h2{
    padding: 0.5rem;

    border-left: 1px solid #9ca3af;
    color: white;
    font-size: 2rem;
}

.invi-box-nav-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.invi-box-nav-buttons button{
    width: 50px;
    height: 50px;

    font-size: 1.5rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;

    display: grid;
    place-items: center;
}

.invi-box-nav-buttons button:first-child:hover{
    color: #10b981;
}
.invi-box-nav-buttons button:last-child:hover{
    color: red;
}
/* Responsive */
@media screen and (max-width: 700px) {
    .invi-box-navbar h2{
        font-size: 1.3rem;

        display: grid;
        place-items: center;
    }
}
@media screen and (max-width: 590px) {
    .invi-box-nav-intro{
        padding: 1rem;
    }
    .invi-box-navbar a span{
        display: none;
    }

    .invi-box-nav-buttons button{
        width: 30px;
        height: 30px;

        font-size: 1rem;
    }
}
@media screen and (max-width: 590px) {
    .invi-box-navbar h2{
        font-size: 1rem;
    }
}


/* Invitory box details */
.invi-box-details{
    width: 100%;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invi-box-left-details{
    width: 49%;
}

.invi-box-right-details{
    width: 49%;
}
/* Responsive */
@media screen and (max-width: 930px) {
    .invi-box-details {
        flex-direction: column;
        gap: 1rem;

        /* width: 90%; */
    }

    .invi-box-left-details {
        width: 95%;
    }

    .invi-box-right-details {
        width: 95%;
    }
}
@media screen and (max-width: 500px) {
    .invi-box-left-details {
        width: 100%;
    }

    .invi-box-right-details {
        width: 100%;
    }
}


/* Invitory box items */
.invi-box-items{
    width: 100%;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.invi-box-items h2{
    color: white;

    font-size: 2rem;
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
/* Responsive */
@media screen and (max-width: 500px) {
    .invi-box-items h2{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 400px) {
    .invi-box-items h2{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 350px) {
    .invi-box-items h2{
        font-size: 1rem;
    }
}